<% posts.each do |post| %>
  <div class="card mt-3 mb-3 shadow-sm bg-white rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
            <%= image_tag post.user.get_profile_image(50,50) %>
        </div>

        <div class="col-10">
          <%= post.user.name %>
          <%= post.title %>
          フォロー数: <%= post.user.followings.count %>
          フォロワー数: <%= post.user.followers.count %>
        </div><!--col-10-->
      </div><!--row-->
    </div><!--card-body-->
  </div><!--card-->
<% end %>