<div class="container">
  <div class="row">
    <div class="mx-auto">

      <%= render 'posts_error_messages', post: @post %>

      <h1 class="mb-5">投稿編集</h1>
      <%= form_with model: @post, local: true do |f| %>

        <h3>投稿タイトル</h3>
        <%= f.text_field :title %>

        <h3 class="mt-3">投稿内リスト</h3>
        <div>
          <%= f.fields_for :lists do |t| %>
            <% render 'list_fields', f: t %>
          <% end %>
          <div>
            <%= link_to_add_association f, :lists do %>
              <i class="fa-solid fa-square-plus"></i>
            <% end %>
          </div>
        </div>
        <%= f.submit "更新する", class: "btn btn-outline-success btn-sm rounded-pill mt-2" %>
      <% end %>

      <%= link_to  post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm rounded-pill mt-4 mb-2" do %>
        投稿を削除する
      <% end %>

    </div><!--mx-auto-->
  </div><!--row-->
</div><!--container-->