<div class="container">
  <div class="row">
    <div class="col-2">
        <%= link_to "投稿", new_post_path %>
        <%= image_tag current_user.get_profile_image(80,80), class: "rounded-circle" %>
        <%= current_user.name %>
        <%= link_to "いいねした投稿", favorites_user_path(current_user) %>
        <%= link_to "通知", notifications_path %>
        <h6>フォロー</h6>
          <%= link_to current_user.followings.count, user_followings_path(current_user) %>
        <h6>フォロワー</h6>
          <%= link_to current_user.followers.count, user_followers_path(current_user) %>
          <% unless current_user.guest_user? %>
              <li>
                <%= link_to "編集", edit_user_path(current_user.id) %>
              </li>
          <% end %>
    </div>

    <div class="col-6">
      <% @timeline.each do |post| %>

        <div class="card mt-3 mb-3 shadow-sm bg-white rounded">
          <div class="card-body">
            <div class="row">

              <div class="col-2">
                <%= link_to user_path(post.id) do %>
                  <%= image_tag post.user.get_profile_image(80,80), class: "rounded-circle" %>
                <% end %>
              </div>

              <div class="col-10">
                <div>
                  <%= post.user.name %>
                </div>
                <%= link_to post_path(post.id), class: "text-dark" do %>
                  <div>
                    <strong><%= post.title %></strong>
                  </div>
                <% end %>
                  <div>
                    <% post.lists.each do |list| %>
                      <div>
                        <%= list.content %>
                      </div>
                    <% end %>
                  </div>
              </div>

            </div><!--row-->
          </div><!--card-body-->
        </div><!--card-->
      <% end %>
    </div><!--col-6閉-->

    <div class="col-4">
      <% @posts.each do |post| %>
        <div>
          <%= link_to post_path(post) do %>
            <%= post.title %>
          <% end %>
          <%= link_to "投稿編集", edit_post_path(post.id) %>
          <% post.lists.order(:position).each do |list| %>
              <div>
                <%= form_with model:list, url:list_path(list.id) do |f| %>
                  <%= f.check_box :checked %>
                  <%= list.content %>
                  <%= link_to "↑", move_higher_list_path(list) %>
                  <%= link_to "↓", move_lower_list_path(list) %>
                  <%= f.submit "更新" %>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>