<%= flash[:alert] %>

<div class="container">
  <div class="row">
    <div class="col-2">
        <%= render 'public/users/info' %>
    </div>

    <div class="col-8 offset-1">
      <div class="card mt-3 mb-3 shadow-sm bg-white rounded">
          <div class="card-body">
            <div class="row">

              <div class="col-10">
                <%= link_to user_path(@post.user.id), class: "text-dark" do %>
                  <%= image_tag @post.user.get_profile_image(70,70), class: "rounded-circle"  %>
                  <strong class="ml-4"><%= @post.user.name %></strong>
                <% end %>
              </div><!--col-10-->

              <div class="col-2">
                <%= @post.created_at.strftime('%Y/%m/%d') %>
              </div><!--col-2-->
            </div><!--row-->

            <h4 class="mt-2"><%= @post.title %></h4>

            <% @post.lists.each do |list| %>
              <li class="ml-3">
                <%= list.content %>
              </li>
            <% end %>

            <% if @post.user == current_user %>
              <%= link_to post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm rounded-pill mt-2 mb-2" do %>
                投稿を削除する
              <% end %>
              <%= link_to edit_post_path(@post.id), class: "btn btn-outline-success btn-sm rounded-pill mt-2 mb-2" do %>
                投稿を編集する
              <% end %>
            <% end %>

          <div class="card-footer text-body-secondary">
            <div class="row">

              <div class="col-6">
                <% if @post.favorited_by?(current_user) %>
                  <p class="text-center">
                    <%= link_to post_favorite_path(@post), method: :delete do %>
                      <i class="fa-solid fa-heart-circle-check"></i><%= @post.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p class="text-center">
                    <%= link_to post_favorite_path(@post), method: :post do %>
                      <i class="fa-regular fa-heart"></i><%= @post.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </div><!--col-6-->

              <div class="col-6">
                <p class="text-center"><i class="fa-regular fa-comment-dots"></i>  <%= @post.comments.count %></p>
              </div>
            </div><!--row-->

            <%= form_with model: [@post, @comment] do |f| %>
                <% if @error_comment.present? %>
                  <%= @error_comment.errors.count %>件のエラーが発生しました
                    <ul>
                      <% @error_comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                <% end %>

              <%= f.text_area :body, rows: '3', cols: '80', placeholder: "コメントを記入" %>
              <div class="row">
                <%= f.submit "送信", class: "btn btn-outline-success rounded-pill mt-2"  %>
              </div>
            <% end %>

              <% @post.comments.order(created_at: :desc).each do |comment| %>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag comment.user.get_profile_image(50,50), class: "rounded-circle" %>
                    <%= comment.user.name %>
                  </div>

                  <div class="col-6">
                    <p class="text-right">
                      <%= comment.created_at.strftime('%Y/%m/%d') %>
                    </p>
                  </div>
                </div><!--row-->

                <div class="row ml-4 mb-3">
                  <div class="col-8">
                    <%= comment.body %>
                  </div>

                  <div class="col-4 pull-right">
                    <% if comment.user == current_user %>
                      <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                        <i class="fa-solid fa-trash-can"></i>コメントを消す
                      <% end %>
                    <% end %>
                  </div>

                </div><!--row ml-4 mb-3-->
              <% end %>
          </div><!--card-footer-->
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-8 offset-1-->
  </div><!--row-->
</div><!--container-->

