<h1>Post#edit</h1>


<%= form_with model: @post, local: true do |f| %>

  <h3>リスト名</h3>
  <%= f.text_field :title %>

  <div>
    <%= f.fields_for :lists do |t| %>
      <% render 'list_fields', f: t %>
    <% end %>
    <%= link_to_add_association "追加", f, :lists %>
  </div>

  <%= f.submit "更新" %>

<% end %>