<h1>ログイン後の遷移ページ</h1>

<%= link_to "いいねした投稿", favorites_user_path(current_user) %>
<div>

  <% @posts.each do |post| %>
    <%= post.title %>
    <%= link_to "投稿編集", edit_post_path(post.id) %>
  <div>
      <% post.lists.each do |list| %>

        <%= form_with model:list, url:list_path(list.id) do |f| %>
          <%= f.check_box :checked %>
          <%= list.content %>
          <%= f.submit "更新" %>
        <% end %>

      <% end %>
  </div>



  <% end %>
</div>



<% @timeline.each do |post| %>

  <div>
    <%= link_to user_path(post.id) do %>
      <%= image_tag post.user.get_profile_image(100,100) %>
    <% end %>
    <div>
      <%= post.user.name %>
    </div>

    <div>
      <%= post.title %>
    </div>
  <div>

  <% post.lists.each do |list| %>
    <%= list.content %>
  <% end %>
<% end %>

