<h1>ログイン後の遷移ページ</h1>
<div class="container">
  <div class="row">
    <div class="col-2">
      <% if user_signed_in? %>
        <%= link_to "投稿", new_post_path %>
        <%= image_tag current_user.get_profile_image(100,100) %>
        <%= current_user.name %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <% unless current_user.guest_user? %>
            <li>
              <%= link_to "編集", edit_user_path(current_user.id) %>
            </li>
        <% end %>

      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
        </li>
      <% end %>
    </div>

<%= link_to "いいねした投稿", favorites_user_path(current_user) %>
<%= link_to "フォロー数", user_followings_path(current_user) %>

  <% @posts.each do |post| %>
    <%= post.title %>
    <%= link_to "投稿編集", edit_post_path(post.id) %>
    <% post.lists.order(:position).each do |list| %>
      <div>
        <%= form_with model:list, url:list_path(list.id) do |f| %>
            <%= f.check_box :checked %>
            <%= list.content %>
            <%= link_to "↑", move_higher_list_path(list) %>
            <%= link_to "↓", move_lower_list_path(list) %>
            <%= f.submit "更新" %>
        <% end %>
      </div>
    <% end %>
  <% end %>




<% @timeline.each do |post| %>

  <div>
    <%= link_to user_path(post.id) do %>
      <%= image_tag post.user.get_profile_image(100,100) %>
    <% end %>
    <div>
      <%= post.user.name %>
    </div>

    <%= link_to post_path(post.id) do %>
      <div>
        <%= post.title %>
      </div>
      <div>
        <% post.lists.each do |list| %>
          <%= list.content %>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>
      </div>
    </div>