<div class="container">
  <div class="row">

    <div class="col-2">
      <%= image_tag @user.get_profile_image(90,90), class: "rounded-circle" %>

      <span><%= @user.name %></span>

      <div>

        <div>
          <span>フォロー</span>
          <span><%= link_to @user.followings.count, user_followings_path(@user.id), class: "text-dark" %></span>
        </div>

        <div>
          <span>フォロワー</span>
          <span><%= link_to @user.followers.count, user_followers_path(@user.id), class: "text-dark" %></span>
        </div>

      </div>

      <%= render 'public/users/btn', user: @user %>

    </div><!--col-2-->

    <div class="col-8 ofset-2">
      <div class="jscroll">

        <% if @posts.exists? %>
          <% @posts.each do |post| %>
            <div class="card mt-3 mb-3 shadow-sm bg-white rounded">
              <div class="card-body">
                <div class="row">

                  <div class="col-2">
                      <%= image_tag @user.get_profile_image(80,80), class: "rounded-circle" %>
                  </div>

                  <div class="col-10">
                    <div class="row">

                      <div class="col-6">
                        <%= @user.name %>
                      </div>

                      <div class="col-6">
                        <%= post.created_at.strftime('%Y/%m/%d') %>
                        <% if post.user == current_user %>
                          <%= link_to post_path(post.user.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm rounded-pill mt-2 mb-2" do %>
                            投稿を削除する
                          <% end %>
                        <% end %>
                      </div>

                    </div>


                    <div class="row">
                      <%= link_to post_path(post.id), class: "text-dark" do %>
                        <div class="ml-5">
                          <strong><%= post.title %></strong>
                        </div>
                      <% end %>
                    </div><!--row-->

                    <div class="row">
                      <% post.lists.each do |list| %>
                        <div class="ml-5">
                          <%= list.content %>
                        </div>
                      <% end %>
                    </div>

                  </div><!--col-10-->
                </div><!--row-->
              </div><!--card-body-->
            </div><!--card-->
          <% end %><!--@posts.each do |post|-->

          <%= paginate @posts %>

        <% else %>
          <p>このユーザの投稿はありません</p>
        <% end %>

      </div><!--jscroll-->
    </div><!--col-8 ofset-2-->



