<!DOCTYPE html>
<html>
  <head>
    <title>準備忘録</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/67d14ad52e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <header>
      <div class="row">

        <div class="col-7">
          <% if user_signed_in? %>
            <%= link_to posts_path do %>
              <%= image_tag asset_path("logo.jpg"), class: "servise-logo" %>
            <% end %>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <div class="col-1 mt-5">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-success btn-sm rounded-pill" %>
          </div>
          <div class="col-4 mt-5">
            <%= render "public/searches/form" %>
          </div>
        <% end %>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
