<!DOCTYPE html>
<html>
  <head>
    <title>準備忘録</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/67d14ad52e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row">

        <div class="col-7">
          <% if user_signed_in? %>
            <%= link_to root_path do %>
              <img src="/assets/logo.jpg" width="150" height="150" alt="">
            <% end %>
          <% end %>
        </div>

        <div class="col-1 mt-5">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-dark" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>

        <div class="col-4 mt-5">
          <%= render "public/searches/form" %>
        </div>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
