<!DOCTYPE html>
<html>
  <head>
    <title>準備忘録</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/67d14ad52e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row">

        <div class="col-8">
          <% if user_signed_in? %>
            <%= link_to posts_path do %>
              <img src="/assets/logo.jpg" width="150" height="150" alt="">
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <img src="/assets/logo.jpg" width="150" height="150" alt="">
            <% end %>
          <% end %>
        </div>

        <div class="col-4 mt-5">
          <%= render "searches/form" %>
        </div>
        
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
